apiVersion: v1
kind: ConfigMap
metadata:
  name: test7-configmap
data:
  appsettings.Development.json: |-
    {
        "ConnectionStrings": {
            "ClientId": "#{ClientId}#",
            "TenantId": "#{TenantId}#",
            "ClientSecret": "#{ClientSecret}#",
            "Dbtest7": "Data Source=host.minikube.internal,1433;Initial Catalog=test7;User ID=#{DbAccount}#;Password=#{DbPassword}#;Trust Server Certificate=True"
        }
    }

